{% extends "ttsx/base.html" %}
{% load static from staticfiles %}
{% block block_mn %}

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="{% static 'base/img/logo.png' %}"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="/cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{ cartnum }}</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
            {% for item in List %}
                <li><a href="/list/{{ item.typeid }}/1/" id="{{ item.typeid }}">{{ item.typename }}</a></li>
            {% endfor %}
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="{% static 'base/img/slide.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'base/img/slide02.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'base/img/slide03.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'base/img/slide04.jpg' %}" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="{% static 'base/img/adv01.jpg' %}"></a>
			<a href="#"><img src="{% static 'base/img/adv01.jpg' %}"></a>
		</div>
	</div>
    {% for item in typeList %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">{{ item.0.type.typename }}</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src=""></div>
			<ul class="goods_list fl">
                {% for ite in item.0.goods %}
				<li>
					<h4><a href="#">{{ ite.shortName }}</a></h4>
					<a href="#"><img src="{{ ite.picUrlFromIc }}"></a>
					<div class="prize">¥{{ ite.price }}</div>
				</li>
                {% endfor %}

			</ul>
		</div>
	</div>
    {% endfor %}
{% endblock block_mn %}


