{% extends 'ttsx\base.html' %}
{% load static from staticfiles %}
{% block block_main %}
    <script type="text/javascript" src="{% static 'place_order/js/place_order.js'%}"></script>
{% endblock block_main %}
{% block block_mn %}
	<div class="search_bar clearfix">
		<a href="/index/" class="logo fl"><img src="{% static 'base/img/logo.png' %}"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user_center_info/">· 个人信息</a></li>
				<li><a href="/user_center_order/" class="active">· 全部订单</a></li>
				<li><a href="/user_center_site/">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
            {% for i in orderList %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">2019-{{ i.item.orderId|slice:"0:1" }}-{{ i.item.orderId|slice:"1:3" }} {{ i.item.orderId|slice:"3:5" }}:{{ i.item.orderId|slice:"5:7" }}:{{ i.item.orderId|slice:"7:9" }}</li>
					<li class="col02">订单号：{{ i.item.orderId }}</li>
					<li class="col02 stress">{{ i.item.paymentStatus }}</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for item in i.order %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{ item.productimg }}"></li>
									<li class="col02">{{ item.productname|slice:"0:6" }}<em>11.80元/500g</em></li>
									<li class="col03">{{ item.productnum }}</li>
									<li class="col04">{{ item.productprice }}元</li>
								</ul>
                                {% endfor %}
							</td>
							<td width="15%">555元</td>
							<td width="15%">{{ i.item.paymentStatus  }}</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
						</tr>
					</tbody>
				</table>

            {% endfor %}

				<div class="pagenation">
					<a href="#"><上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
	</div>
{% endblock block_mn %}